.bg {
  color: white;
  height: 55px;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}

.mid {
  display: flex;
  justify-content: space-between;
 
}
.left1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  top: 7px;
}
.right1 ul {
  display: flex;
}
.right1 ul li {
  list-style: none;
  margin-right: 20px;
  position: relative;
  top: 18px;
}
.decor {
  text-decoration: none;
  color: white;
}
.decor:hover {
  color: rgb(130, 139, 244);
  cursor: pointer;
}
